body {
  width: 95%;
  max-width: 800px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: flex-start;
}

#instructions {
  width: 100%;
  margin: 20px 0;
}

.error-message {
  color: tomato;
}

table {
  overflow-x: scroll;
  width: fit-content;
  max-width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  overflow-wrap: break-word;
}

th,
td {
  text-align: left;
  border: 2px solid;
  border-collapse: collapse;
  font-size: 0.85em;
  padding: 2px 5px;
}

#instructions-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#data-table {
  margin-top: 20px;
}

.radio-button-container {
  width: 95%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
}
textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: 20px auto;
  display: none;
}
input {
  font-family: 'Open Sans', sans-serif;
  width: 50%;
  max-width: 200px;
  margin: 10px;
  &[type='submit'] {
    margin-top: 20px;
    padding: 10px 5px;
    border-radius: 10px;
    border-width: 0;
    background-color: lightblue;
  }
  &[type='radio'] {
    width: min-content;
  }
}
input[type='submit']:enabled {
  color: black;
  background-color: cadetblue;
  color: white;
  box-shadow: 2px 2px 5px darkslategrey;
}
input[type='submit']:hover:enabled {
  background-color: darkslategrey;
}
input[type='submit']:active:enabled {
  background-color: darkslategrey;
  box-shadow: 1px 1px 2px darkslategrey;
}
#download-link {
  display: block;
  padding-bottom: 20px;
}
