body {
  width: 95%;
  max-width: 800px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}
#instructions {
  width: 90%;
  margin: 20px auto;
}
.error-message {
  color: tomato;
}
table {
  overflow-x: scroll;
  width: fit-content;
  max-width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  overflow-wrap: break-word;
}

th,
td {
  text-align: left;
  border: 2px solid;
  border-collapse: collapse;
  font-size: 0.85em;
  padding: 2px 5px;
}

#instructions-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input {
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  &[type='submit'] {
    margin-bottom: 50px;
  }
}
